%li.protip.clearfix{ :id => "protip_#{protip.id}" }
  .content.lfloat
    .text= protip.protip
    = render_tags(protip)
    .bottom
      %span.author= protip.author.alias
      &middot;
      %span.date= l protip.created_at, :format => :long
  .actions.rfloat
    .favorite{ :class => protip.favorited_by_viewer? ? 'favorited' : '' }
      .count= protip.favorites_count
      .action ♥
