%li.protip.clearfix{ :id => "protip_#{protip.id}" }
  .actions.rfloat
    .like{ :class => protip.liked_by_viewer? ? 'liked' : '' }
      .count= protip.likes_count
      .action ♥
  .content
    .text= protip.protip
    = render_tags(protip)
    .bottom
      %span.author= protip.author.alias
      &middot;
      %span.date= l protip.created_at, :format => :long
